@page "/"

@using Maui2.Models
@using Maui2.Services
@inject RabbitMqService Rabbit
@inject TranslatorService Translator

<h1>Chat</h1>

<label>Idioma:</label>

<select @bind="MyLanguage">
    @foreach (var lang in Languages)
    {
        <option value="@lang.Code">@lang.Name</option>
    }
</select>

<br /><br />

<input @bind="CurrentText" placeholder="Escribe mensaje..." />
<button @onclick="SendMessage">Enviar</button>

<hr />

<div class="chat-container">

@foreach (var msg in Messages)
{
    bool isMine = msg.SenderId == MyId;

    <div class="message @(isMine ? "mine" : "theirs")">
        <div class="bubble">
            <div>@msg.OriginalText</div>
            <div class="time">@msg.Timestamp.ToShortTimeString()</div>
        </div>
    </div>
}

</div>

@code {

    string CurrentText = "";

    string MyId = "AppB";

    List<ChatMessage> Messages = new();

    protected override void OnInitialized()
    {
        Rabbit.OnMessageReceived += HandleIncomingMessage;
    }

    async void HandleIncomingMessage(ChatMessage msg)
    {
        try
        {
            var text = msg.OriginalText;

            if (msg.SourceLanguage != MyLanguage)
            {
                Console.WriteLine("LLAMANDO A AZURE TRANSLATOR");

                text = await Translator.TranslateAsync(
                    msg.OriginalText,
                    msg.SourceLanguage,
                    MyLanguage
                );
            }

            msg.OriginalText = text;

            await InvokeAsync(() =>
            {
                Messages.Add(msg);
                StateHasChanged();
            });
        }
        catch (Exception ex)
        {
            Console.WriteLine("ERROR TRADUCCION: " + ex.Message);
        }
    }

    List<LanguageOption> Languages = new()
    {
        new() { Code = "es", Name = "Español" },
        new() { Code = "en", Name = "English" },
        new() { Code = "fr", Name = "Français" },
        new() { Code = "de", Name = "Deutsch" }
    };

    string MyLanguage = "es";

    void SendMessage()
    {
        if (string.IsNullOrWhiteSpace(CurrentText))
            return;

        var message = new ChatMessage
        {
            SenderId = MyId,
            OriginalText = CurrentText,
            SourceLanguage = MyLanguage,
            Timestamp = DateTime.Now
        };

        Rabbit.SendMessage(message);

        Messages.Add(message);

        CurrentText = "";
    }

}